<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> | <a href="http://hexo.io/" target="_blank">备案号</a>
    	</div>
      	<div class="footer-right">
      		“古今多少事，都付笑谈中”
      	</div>
    </div>
  </div>
</footer>